.navbar {
    display: flex;
    background-color: #white;
    padding: 8px;
    text-align: right;
    list-style:none;
}

.login{
    color: #DFD0B8;
    justify-content: end;
    margin: 8px;
    text-decoration: none;
}
.navbar-menu{
    color: #DFD0B8;
    justify-content: left;
    margin: 8px;
    text-decoration: none;
}

.logo{
    height: 50px;
}