@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

svg {
    fill:#fbfeb2;
    height: 20px;
    width: 20px;
} /* 크기 줄었음 */

a{
    text-decoration: none;
    color: black;
} /* 색상 변경됨 */

.nav-logoword {
    color:#FCFFE0;
    font-family: "Bebas Neue", sans-serif;
    font-size:24px;
} /* 크기 줄었음 */


body {
    margin:0;
    padding:0;
    box-sizing: border-box;
    display: flex;
    background-color: #74e0aa;
    justify-content: center;
    height: 100vh;
    align-items: center;
}  /* 색상 변경됨 */

body::before {
    content: "";
    position: absolute; z-index:1;
    top:0; right:0; bottom:0; left:0;
    background-color: rgba(0,0,0,0.7);
} /* 배경 음영 */

.login {
    position: relative; z-index:2;
} /* 아마 적용 안됨 */

.input {
    width: 400px;
} /* 넓이 적용 안됨 */

.input-id {
    width:100%;
    padding: 20px 10px 10px;
    background-color: transparent;
    border:none;
    border-bottom: 1px solid #999;
    font-size: 18px;
    color: #fff;
    outline: none;
} /* 색상 변경됨 */

.input-pw {
    width:100%;
    padding: 20px 10px 10px;
    background-color: transparent;
    border:none;
    border-bottom: 1px solid #999;
    font-size: 18px;
    color: #fff;
    outline: none;
} /* 색상 변경됨 */

.input label {
    left: 10px;
    top:15px;
    font-size: 18px;
    color: #999;
} /* 색상 변경됨 */

.btn {
    margin-top: 30px;
} /* 마진 적용 안됨 */

.btn button {
    width: 100%;
    height: 50px;
    color: #fff;
    font-size: 20px;
    border:none;
    border-radius: 25px;
} /* 버튼 모양 적용 안 됨 */

.forget {
    margin-top:20px;
    text-align: center;
} 

.forget a {
    font-size: 15px;
    color: #fff;
}

@media screen and (max-width:480px){
    .input {
        width: 180px;
    }
    
    .input-id {
        width:100%;
        padding: 20px 10px 10px;
        background-color: transparent;
        border:none;
        border-bottom: 1px solid #999;
        font-size: 12px;
        color: #fff;
        outline: none;
    }
    
    .input-pw {
        width:100%;
        padding: 5px 10px 10px;
        background-color: transparent;
        border:none;
        border-bottom: 1px solid #999;
        font-size: 12px;
        color: #fff;
        outline: none;
    }
    
    .input label {
        left: 10px;
        top: 0px;
        font-size: 10px;
        color: #999;
    }
    
    .btn {
        margin-top: 10px;
    }
    
    .btn button {
        width: 100%;
        height: 35px;
        text-align: center;
        color: #fff;
        font-size: 15px;
        border:none;
        border-radius: 15px;
    }
    
    .forget {
        margin-top:10px;
    }
    
    .forget a {
        font-size: 10px;
        color: #fff;
    }
}